<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/logo_app"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DuAn_Nhom8"
        tools:targetApi="31">
        <activity
            android:name=".Activities.ChiTietHoaDonAdmin"
            android:exported="false" />
        <activity
            android:name=".MainActivity2"
            android:exported="false" />

        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".Activities.GioHangThanhToanActi"
            android:exported="false" />
        <activity
            android:name=".Activities.ChiTietHoaDonActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.ThanhToanActi"
            android:exported="false" />
        <activity
            android:name=".Activities.HoaDonActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.DiaChiActi"
            android:exported="false" />
        <activity
            android:name=".MainactivityAdmin"
            android:exported="false" />
        <activity
            android:name=".Activities.ChangePassActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.ChangeInfoActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.ProductDeltaActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".taikhoan.SignUp"
            android:exported="false" />
        <activity
            android:name=".Activities.HangFrg_DanhMucActivity"
            android:exported="false" />
        <activity
            android:name=".taikhoan.Login"
            android:exported="false" />
        <activity
            android:name=".taikhoan.manhinhchao"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>